div{
    width: 100px;
    height: 100px;
    border: 20px solid #000204;
    border-top: 20px solid #de60fa;
    border-radius: 50%;
    animation: rotate 3s infinite ease-in-out;
    background-color: rgb(86, 55, 209);

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
